{{define "scripts_pages"}}
<script src="../../Recursos/Local/Plantilla/js/accounting.min.js"></script>
<script src="../../Recursos/Local/Plantilla/vencidas/js/vencidas.js"></script>
<script src="../../Recursos/Global/Plugins/alertify/alertify.min.js"></script>
{{end}} {{define "styles_pages"}}
<link href="../../Recursos/Local/Plantilla/vencidas/css/vencidas.css" rel="stylesheet" type="text/css" /> 
<link href="../../Recursos/Global/Plugins/alertify/css/alertify.min.css" rel="stylesheet" type="text/css" /> 

{{end}} {{define "content_body"}}
<div class="page-content" style="padding-bottom: 50px; padding-top: 100px">
    <div class="row">
        <!--<div class="col-md-2">
			    <div class="sidebar content-box" style="display: block;">
					<ul class="nav">
						<li class="current"><a href="/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
					</ul>
				</div>
			</div>        -->
        {{template "sidebar_layout"}}
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-box-header">
                        <div class="panel-title">
                            <h3>Lista de facturas vencidas</h3>
                        </div>
                        <div class="panel-options">
                        </div>
                    </div>
                    <div class="content-box-large box-with-header">
                        <div id="zonatabla">
                            <table class="table  table-bordered table-hover ">
                                <thead>
                                    <th>Serie/Folio</th>
                                    <th>Movimiento</th>
                                    <th>No. Cli.</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Emision</th>
                                    <th>Vencimiento</th>
                                    <th>Saldo</th>
                                    <th>&nbsp;</th>
                                </thead>
                                <tbody id="imprimirvencidas">
                                    {{.TemplateTabla}}
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="container text-center">
                                    <ul class="pagination">
                                        <!-- espacio para la paginacion-->
                                        {{.PaginacionT}}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal modal-wide fade loader" id="myModal2">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
            </div>
            <div class="modal-body" style="overflow-y: scroll;" id="GIF2">
                    <img src="/Recursos/Global/img/loadingBottle.gif" alt="imagen">
            </div>

        </div>

    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resumen de Vencimientos Cliente</h4>
            </div>
            <div class="modal-body" style="overflow-y: scroll;" id="TablaVencidasCliente">
                <h5 id="nombrecliente"></h5>
                <input type="hidden" value="" id="correoTablaCliente">
                <input type="hidden" value="" id="identifiacdorFilaTabla">
                <p>
                    Estimado cliente,
                </p>
                <p>Se le informa que nuestro sistema registra las siguientes facturas con estado de <b>Vencido</b> </p>
                <div id="tablacliente">
                </div>
                <p>Si Usted ha realizado el pago haga caso omiso del mensaje o comuniquese con su agente de ventas para realizar
                    las aclaraciones pertinentes.</p>
                <p>Sus amigos de <b>Tubos y Conexiones S.A. de C.V.</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closemodal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="enviarLista" >Enviar Correo</button>
            </div>
        </div>

    </div>
</div>

<div id="bloqueo" class="navbar-fixed-top" hidden>
<img src="/Recursos/Global/img/configuracion.gif" alt="imagen">
</div>
{{end}}