{{define "scripts_pages"}}
<script src="../../Recursos/Global/Plugins/jquery/js/timepicker/jquery.timepicker.js" type="text/javascript"></script>
<script src="../../Recursos/Local/Plantilla/js/dashboard.js" type="text/javascript"></script>
{{end}} {{define "styles_pages"}} {{end}} {{define "content_body"}}
<div class="page-content" style="padding-bottom: 50px; padding-top: 100px">
    <div class="row">
            <div class="col-md-2">
			    <div class="sidebar content-box" style="display: block;">
					<ul class="nav">
						<!-- Main menu -->
						<li class="current"><a href="/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
					</ul>
				</div>
			</div>        
            <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-box-header">
                        <div class="panel-title">
                            <h3>Configuracion</h3>
                        </div>
                        <div class="panel-options">
                        </div>
                    </div>

                    <div class="content-box-large box-with-header">
                        <form>
                            <div class="form-group row">
                                <label for="frecuencia" class="col-sm-2 col-form-label">Frecuencia de env&iacute;o(dias)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-lg" id="frecuencia" value="{{ .CorreoFrecuencia }}" placeholder="Frecuencia de envio">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="antesde" class="col-sm-2 col-form-label">Enviar antes de (d&iacute;as) para el vencimiento</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-lg" id="antesde" value="{{.Aviso}}" placeholder="Dias antes del vencimiento">
                                </div>
                            </div>
                    </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                                <div class="offset-sm-2 col-sm-10">
                                    <span class="btn btn-primary" onclick="setConfiguracion()">Guardar</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{{end}}
