{{define "scripts_pages"}}
<script src="../../Recursos/Local/Plantilla/vencidas/js/vencidas.js"></script>

{{end}} {{define "styles_pages"}} {{end}} {{define "content_body"}}


<div class="page-content" style="padding-bottom: 50px; padding-top: 100px">
    <div class="row">
        <!--<div class="col-md-2">
				<div class="sidebar content-box" style="display: block;">
					<ul class="nav">
						<li class="current"><a href="/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
					</ul>
				</div>
			</div>-->
        {{template "sidebar_layout"}}
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-box-header">
                        <div class="panel-title">Panel de Control</div>
                        <div class="panel-options">
                        </div>
                    </div>
                    <div class="content-box-large box-with-header">
                        <!--<iframe src="http://192.168.1.84:5601/app/kibana#/dashboard/Panel-de-Control-Cr%C3%A9ditos-Vencidos?embed=true&_g=(refreshInterval%3A(display%3A'1%20day'%2Cpause%3A!f%2Csection%3A3%2Cvalue%3A86400000)%2Ctime%3A(from%3Anow-6M%2Cmode%3Aquick%2Cto%3Anow))" height="900px" width="100%"></iframe>-->
                        <iframe src="http://187.217.209.162:5601/app/kibana#/dashboard/9473f5c0-359b-11e7-a739-95ca1dc4ac6e?embed=true&_g=(refreshInterval%3A(display%3A&apos;2%20hour&apos;%2Cpause%3A!f%2Csection%3A3%2Cvalue%3A7200000)%2Ctime%3A(from%3Anow-6M%2Cmode%3Aquick%2Cto%3Anow))"
                            height="900px" width="100%"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}