.dineros{
    text-align: right;
}

#myModal {
  overflow-y: auto;
  height: 800px;
  max-height: 800px;
}
.modal.modal-wide .modal-dialog {
  width: 90%;
  max-height: 800px;
}
.modal-wide .modal-body {
  height: 550px;
  overflow-y: auto;
}