{{define "footer_layout"}}
    
    <nav class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container">
        <p >&copy; 2017 Kore | Todos los derechos reservados.</p>
    </div>
    </nav>

{{end}}