{{define "left_upper_menu"}}
<li class="" id="buscarlnk"><a href="/"><i class="glyphicon glyphicon-search"></i> Facturas Vencidas</a></li>
<li class="" id="dashboardlnk"><a href="/sidebar"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
<li class="" id="configurarlnk"><a href="/config"><i class="glyphicon glyphicon-cog"></i> Configurar</a></li>
{{end}}