{{define "scripts_layout"}}
<script src="../../Recursos/Global/Plugins/jquery/js/jquery.min.js"></script>
<script src="../../Recursos/Global/Plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../Recursos/Global/Plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<script src="../../Recursos/Global/Plugins/jquery/js/jquery.jgrowl.js" type="text/javascript"></script>
<script src="../../Recursos/Global/Plugins/alertify/alertify.min.js"></script>


{{end}}