{{define "header_layout"}}
<div class="header navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="logo col-md-3">
					<img src="/Recursos/Global/img/LogoKore4.png" alt="" width="69px" height="100">
				</div>
				<div class="logo logo col-md-9" style="text-align: center;">
					<h1><a href="/">Incidencias de Pago</a></h1>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-lg-12">
						<div class="input-group form">
							<input type="text" class="form-control" placeholder="Cliente o Num. Cliente" id="filtroBusqueda" name="filtroBusqueda">
							<span class="input-group-btn">
										<button class="btn btn-primary" type="button" form="searchform" id="botonBuscar" name="botonBuscar" onclick="showListClientNumClient()" ><i class="glyphicon glyphicon-search"></i></button>
									</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="navbar navbar-inverse" role="banner">
					<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mi men&uacute; <b class="caret"></b></a>
								<ul class="dropdown-menu animated fadeInUp">
									{{template "left_upper_menu"}}
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}