{{define "sidebar_layout"}}
<div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <!-- Main menu -->
            <li class="current"><a href="/"><i class="glyphicon glyphicon-search"></i> Facturas Vencidas</a></li>
            <li class="current"><a href="/dashboard"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
            <li class="current"><a href="/config"><i class="glyphicon glyphicon-cog"></i> Configurar</a></li>

        </ul>
    </div>
</div>
{{end}}
