{{define "styles_layout"}}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"> 
<link href="../../Recursos/Global/Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../../Recursos/Global/Plugins/jquery/css/jquery.jgrowl.css" rel="stylesheet" type="text/css" />
<!--<link href="../../Recursos/Local/Buscar/Css/Our.css" rel="stylesheet" type="text/css" />-->
<link href="../../../../Recursos/Global/css/landing-page.css" rel="stylesheet" type="text/css"/>
<link href="../../Recursos/Global/Plugins/alertify/css/themes/bootstrap.min.css" rel="stylesheet" type="text/css" /> 


{{end}}