{{define "scripts_pages"}} {{end}} {{define "styles_pages"}} {{end}} {{define "content_body"}}
<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
                <div class="box">
                    <div class="content-wrap">
                        <h6>Sign In</h6>
                        <input class="form-control" type="text" placeholder="E-mail address">
                        <input class="form-control" type="password" placeholder="Password">
                        <div class="action">
                            <a class="btn btn-primary signup" href="/validatelogin">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}