{{define "index_layout"}}
<html lang="es">
<head>
	<title>Gestion de incidencias de Cobro</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<!-- Bootstrap -->
	<link href="../../Recursos/Global/Plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"> 

	<!-- styles -->
	<link href="../../../../Recursos/Global/css/styles.css" rel="stylesheet" type="text/css"/>


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

		{{template "styles_layout"}}
        {{template "styles_pages"}}
        
		{{template "scripts_layout"}}
		{{template "scripts_pages"}}
</head>
<body>

			
	{{template "header_layout" }}

	{{template "content_body" .}}


	{{template "footer_layout"}}

	</body>
<script>
$(function(){
	console.log('------------------------------------');
	console.log(window.location.href);
	console.log('------------------------------------');
});
</script>
</html>
{{end}}