*{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url("fondo.png");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    /*background: url("korelogo.png") bottom left no-repeat;*/
}
label{
    margin: 0;
    padding: 0;
}



/*  A  */
/*  B  */
.botonagregar{

    float: right;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    color: #D5DEE8;
    text-decoration: none;  
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    background-color: #111114;
}

.botonrango{
    font-family: 'Comfortaa', cursive;
    color: #D5DEE8;
    border: none;
    text-align: center;
    margin-left: 30%;
    margin-top: 5px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
}

.botonagregar:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
}

.botoncopiar{
    border: none;
    position: relative;
    padding: 3px 10px;
    margin: 3px 7px 3px 0px;
    float: left;
    border-radius: 4px;
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;  
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    background-color: #66A2FF;
}

.barrabuscadora{
    margin-top: 0%; 
    margin-left: 0%; 
    padding-right: 40%; 
    padding-top: 1%; 
}


.botoncopiar:activate{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
}

/*  C  */
.contenedor_main_order{
    padding: 10px 10px 10px 10px;
    position: relative;
    bottom: 30px; 
    width: 54.7em;
}
.contenedorfiltros{
    margin-left: 10px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 120px;
}

.contador_de_marca:hover{
    background-color: #005CA6; 
}

.contador_de_marca{
        text-overflow: ellipsis;
}

.contenedorsoloexistencia{
    padding-left: 25%;
}

.cantidadmarca{
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    color: #D5DEE8;
    position: relative;
    float: right;
    padding-right: 5px;
}
.contenedormarcasunicas{
    overflow-y: auto;
    height: 30.2em;
}


#contenedorlogo{
    position: absolute;
    top:54em;
}

#contenedorcreadopor{
    position: absolute;
    top:52em;
}

#contenedorlogodash{
    position: absolute;
    top:30em;
}

#contenedorcreadopordash{
    position: absolute;
    top:28em;
}
/*  D  */
/*  E  */

.etiquetacreadopor{
    font-family: 'Comfortaa', cursive;
    color: #FFF;
    font-size: 0.9em;
}

.etiquetacreadopordash{
    font-family: 'Comfortaa', cursive;
    color: #FFF;
    font-size: 0.9em;
}

.etiquetaclave{
    margin-top:  0.4em;
    padding-left: 0.5em;
    font-family: 'Comfortaa', cursive;
    color: #499d7e;
    margin-top: 0px;
    font-size: 1.3em;
}
.etiquetatitulomodal{
    margin-top:  0.4em;
    padding-left: 0.5em;
    font-family: 'Comfortaa', cursive;
    color: #202224;
    margin-top: 0px;
    font-size: 1.5em;
}
.etiquetaaddinfo{
    margin-top:  0.4em;
    padding-left: 0.5em;
    font-family: 'Comfortaa', cursive;
    color: #7E868C;
    margin-top: 0px;
    font-size: 1em;
}
.etiquetaprecio{
    padding-left: 0.5em;
    float: right;
    font-family: 'Comfortaa', cursive;
    color: #97E883;
    margin-top: 0px;
    font-size: 1.9em;
}
.etiquetaexistencia{
    padding-left: 0.5em;
    float: right;
    font-family: 'Comfortaa', cursive;
    color: #E87641;
    margin-top: 0px;
    font-size: 0.9em;
}
.etiquetaoperaciones{
    padding-left: 0.5em;
    float: right;
    font-family: 'Comfortaa', cursive;
    color: #97E883;
    position: relative;
    margin-top: 0px;
    font-size: 0.9em;
}
.etiquetacodigo{
    padding-top: 0.1em;
    padding-left: 0.5em;
    font-family: 'Comfortaa', cursive;
    color:  #499d7e;
    margin-top: 0px;
    font-size: 1.3em;
}
.etiquetasorden{
    font-family: 'Comfortaa', cursive;
    font-size: 1.3em;   
    color: #00A2FF;
    padding-right: 1em;
    text-indent: -11px;
}

.etiquetas1{
    font-family: 'Comfortaa', cursive;
    color: #00A2FF;
    margin-top: 0px;
}
.etiquetas2{
    font-family: 'Comfortaa', cursive;
    color: #FF6B38;
    margin-top: 0px;
}
.etiquetas3{
    font-family: 'Comfortaa', cursive;
    color: #FFD944;
    margin-top: 0px;
}
.etiquetas4{
    font-family: 'Comfortaa', cursive;
    color: #B1ACE8;
    margin-top: 0px;
}
.etiquetas5{
    font-family: 'Comfortaa', cursive;
    color: #1D4C73;
    margin-top: 0px;
}
.etiquetafiltro{
    font-family: 'Comfortaa', cursive;
    color: #00A2FF;
}
.etiquetafiltroexistencia{
    cursor: pointer;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    color: #D5DEE8;
    text-decoration: none;  
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    background-color: #4F4D49;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
}

.etiquetafiltroexistenciachecked{
    cursor: pointer;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    color: #D5DEE8;
    text-decoration: none;  
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    background-color: #4F4D49;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    border-bottom: 2px solid #D5DEE8;
}

.etiquetafiltroexistencia:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
}

.etiquetafiltroexistenciachecked:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
}
/*  F  */
.filtrorango{
    width: 50%;
    text-align: center;
    float: left;
    font-family: 'Comfortaa', cursive;
}
/*  G  */
/*  H  */
/*  I  */
.informacionres{
    position: absolute;
    top: 2%;
    right: 20px;
}

input[type="checkbox"].check_marca{
    display: none;
}

input[type="checkbox"].check_orden{
    display: none;
}

input[type="checkbox"].check_existencia{
    display: none;
}
/*  J  */
/*  K  */
/*  L  */
.lineahr{
    position: relative;
    bottom: 20px;
}

.logo_dash{
    width: 40%;
}
/*  M  */
.marcas{
    position: absolute;
    float: left;
    cursor: pointer;
}

/*  N  */
.nombremarca{
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    color: #D5DEE8;
    position: relative;
    float: left;
    right: 0.7em;
    top: 1px;
    cursor: pointer;
}

.nombremarca-checked{
    background-color: #005CA6;
    border: 1px solid #D5DEE8;
}
/*  O  */
.orden_check{
    border: 2px solid #D5DEE8;
    border-bottom: 5px solid #D5DEE8;
}
/*  P  */
.precios{
    color: #43E843;
    font-size: 1.7em;
}
/*  Q  */
/*  R  */

/*  S  */

.sin_resultados{
    font-family: 'Comfortaa', cursive;
    font-size: 1.8em;
    color: #D5DEE8;
    padding: 10px 10px 10px 10px;
    border: 1px solid #00A2FF;
    position: absolute;
    right: 0px;
    left: 21em;
    width: 18.5em;
    top: 10em;

}
/*  T  */
.titulo {
    padding-left: 0.5em;
    font-family: 'Comfortaa', cursive;
	color: #D5DEE8;
	border-bottom: 1px solid #D5DEE8;
    margin-top: 0px;
}
/*  U  */
/*  V  */
/*  W  */
/*  X  */
/*  Y  */
/*  Z  */

/* The Modal (background) */
.modalimg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content-my {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content-my, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.closer_b {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closer_b:hover,
.closer_b:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/* The Trash Button */
.eliminar_b {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #f1f1f1;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.eliminar_b:hover,
.eliminar_b:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.miitem:hover{
    color: #f1f1f1;;
    text-decoration: none;
    cursor: pointer;
}




/*/ ===== == = === 20em (320px) === = == ===== /*/
@media only screen and (min-width : 20em) {
    .sin_resultados{
        left: 1em;
    }
}
/*/ ===== == = === 30em (480px) === = == ===== /*/
@media only screen and (min-width : 30em) {
    .sin_resultados{
        left: 3em;
    }
    .logo_dash{
        position: relative;
        top: 11em;
        right: 4em;
        width: 100%;
    }
}
/*/ ===== == = === 37.5em (600px) === = == ===== /*/
@media only screen and (min-width: 37.5em) {
    .sin_resultados{
        left: 5em;
    }
    .logo_dash{
        position: relative;
        top: 11em;
        right: 4em;
        width: 85%;
    }
}
/*/ ===== == = === 48em (768px) === = == ===== /*/
@media only screen and (min-width : 48em) {
    .sin_resultados{
        left: 7em;
    }
    .logo_dash{
        position: relative;
        top: 11em;
        right: 3em;
        width: 75%;
    }
}
/*/ ===== == = === 56.25em (900px) === = == ===== /*/
@media only screen and (min-width : 56.25em) {
    .sin_resultados{
        left: 12em;
    }
    #contenedorlogo{
        left: 2.2em;
    }
    #contenedorcreadopor{
        left: 2.2;
    }
    .logo_dash{
        position: relative;
        top: 11em;
        right: 2em;
        width: 55%;
    }
}
/*/ ===== == = === 68.75em (1100px) === = == ===== /*/
@media only screen and (min-width : 68.75em) {
    .sin_resultados{
        left: 19.5em;
    }
    .contenedor_main_order{
        left:  55px;
    }
    #contenedorlogo{
        left: 4em;
    }
    #contenedorcreadopor{
        left: 5.5em;
    }
    .logo_dash{
        position: relative;
        top: 11em;
        width: 45%;
    }
}
/*/ ===== == = === 81.25em (1300px) === = == ===== /*/
@media only screen and (min-width : 81.25em) {
    .sin_resultados{
        left: 23em;
    }
    .contenedor_main_order{
        left:  100px;
    }
    #contenedorlogo{
        left: 4.6em;
    }
    #contenedorcreadopor{
        left: 5.9em;
    }
    .logo_dash{
        position: relative;
        top: 11em;
        width: 45%;
    }
}
/*/ ===== == = === 93.75em (1500px) === = == ===== /*/
@media only screen and (min-width : 93.75em) {
    .sin_resultados{
        left: 28em;
    }
    .contenedor_main_order{
        left:  160px;
    }
    #contenedorlogo{
        left: 5.6em;
    }
    #contenedorcreadopor{
        left: 6.8em;
    }

    .logo_dash{
        position: relative;
        top: 7em;
        width: 40%;
    }
}
/*/ ===== == = === 106.25em (1700px) === = == ===== /*/
@media only screen and (min-width : 106.25em) {
    .sin_resultados{
        left: 32em;
    }
    .contenedor_main_order{
        left:  190px;
    }
    #contenedorlogo{
        left: 7.5em;
    }
    #contenedorcreadopor{
        left: 8.9em;
    }

    .logo_dash{
        position: relative;
        top: 7em;
        width: 40%;
    }
}
/*/ ===== == = === 118.75em (1900px) === = == ===== /*/
@media only screen and (min-width : 118.75em) {
    .sin_resultados{
        left: 33em;
    }

    .contenedor_main_order{
        left:  220px;
    }

    #contenedorlogo{
        left: 8em;
    }

    #contenedorcreadopor{
        left: 9em;
    }

    .logo_dash{
        position: relative;
        top: 2em;
        width: 40%;
    }

}
