{{define "scripts_pages"}}
<script src="../../Recursos/Global/Plugins/jquery/js/timepicker/jquery.timepicker.js" type="text/javascript"></script>
<script src="../../Recursos/Local/Plantilla/js/dashboard.js" type="text/javascript"></script>
<script src="../../Recursos/Local/Plantilla/vencidas/js/vencidas.js"></script>

{{end}} {{define "styles_pages"}} {{end}} {{define "content_body"}}
<div class="page-content" style="padding-bottom: 50px; padding-top: 100px">
    <div class="row">
            <!--<div class="col-md-2">
			    <div class="sidebar content-box" style="display: block;">
					<ul class="nav">
						<li class="current"><a href="/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
					</ul>
				</div>
			</div>        -->
            {{template "sidebar_layout"}}
            <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-box-header">
                        <div class="panel-title">
                            <h3>Configuracion</h3>
                        </div>
                        <div class="panel-options">
                        </div>
                    </div>

                    <div class="content-box-large box-with-header">
                        <form>
                            <div class="form-group row">
                                <label for="frecuencia" class="col-sm-2 col-form-label">Frecuencia de env&iacute;o(dias)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-lg" id="frecuencia" value="{{ .CorreoFrecuencia }}" placeholder="Frecuencia de envio">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="antesde" class="col-sm-2 col-form-label">Enviar antes de (d&iacute;as) para el vencimiento</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-lg" id="antesde" value="{{.Aviso}}" placeholder="Dias antes del vencimiento">
                                </div>
                            </div>
<!--                            
                            <div class="input-group-lg row">
                                <label for="domingo" class="checkbox-inline">
                                    {{if .Domingo}}  
                                    <input type="checkbox"  id="domingo"  name="domingo" onclick="changeValue(this)" checked> 
                                    {{else}}  
                                    <input type="checkbox" value="true"  id="domingo" name="domingo" onclick="changeValue(this)"> 
                                    {{end}}
                                    Domingo
                                </label>
                                <label for="lunes" class="checkbox-inline">
                                    {{if .Lunes}}  
                                    <input type="checkbox" value="{{.Lunes}}" id="lunes" name="lunes" onclick="changeValue(this)" checked> 
                                    {{else}}  
                                    <input type="checkbox"  value="false" id="lunes" name="lunes" onclick="changeValue(this)"> 
                                    {{end}}
                                    Lunes
                                </label>

                                <label for="martes" class="checkbox-inline">

                                    <input type="checkbox"  value="false" id="martes" name="martes" onclick="changeValue(this)">
                                    Martes
                                </label>
                                <label for="miercoles" class="checkbox-inline">
                                    <input type="checkbox" value="false" id="miercoles" name="miercoles" onclick="changeValue(this)">

                                    Mi&eacute;rcoles
                                </label>
                                <label for="jueves" class="checkbox-inline">
                                    <input type="checkbox" value="false" id="jueves" name="jueves" onclick="changeValue(this)">
                                    Jueves

                                </label>
                                <label for="viernes" class="checkbox-inline">
                                    <input type="checkbox" value="false" id="viernes" name="viernes" onclick="changeValue(this)">
                                    Viernes                      

                                </label>
                                <label for="sabado" class="checkbox-inline">
                                    <input type="checkbox" value="false" id="sabado" name="sabado" onclick="changeValue(this)">
                                    S&aacute;bado

                                </label>-->
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                                <div class="offset-sm-2 col-sm-10">
                                    <span class="btn btn-primary" onclick="setConfiguracion()">Guardar</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="bloqueo" style="width: 100%; height: 1200px; background-color: #000; opacity: 70%;" class="navbar-fixed-top" hidden>

</div>

{{end}}
